.ingredients {
  max-width: 800px;
}
.header_box {
}
.title {
}
.navigation_element {
  /*  сброс стиля кнопки */
  padding: auto;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  /*  сброс стиля кнопки  ^*/
}
.Ingredients_box {
  display: flex;
  justify-content: center;
}
.components {
  max-height: 720px;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-right: 20px;
}
.box_of_types {
  max-width: 600px;
  margin: auto;
}
.name_of_type {
  display: flex;
}
.elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding-inline-start: 0;
}
.element {
  list-style-type: none;
  position: relative;
  /*  сброс стиля кнопки */
  padding: auto;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  /*  сброс стиля кнопки  ^*/
}
.price_box {
  display: flex;
  justify-content: center;
}
.name {
  max-width: 272px;
  min-height: 40px;
}
.link {
  /*  сбросс стилей ссылки */
  color: inherit;
  text-decoration: inherit;
  /*  сброс силей сслыки */
}
