.ingredients {
  max-width: 800px;
}
.header_box {
  display: flex;
}
.title {
}
.navigation_element {
  /*  сброс стиля кнопки */
  padding: auto;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  /*  сброс стиля кнопки  ^*/
}
.Ingredients_box {
  display: flex;
  justify-content: center;
}

.ingredients {
  width: 600px;
  height: 726px;
  overflow-y: scroll;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-track {
  background: #2f2f37;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.box_of_types {
  max-width: 600px;
  margin: auto;
}

.elements {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  list-style: none;
}
.element {
  position: relative;
  width: 272px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price_box {
  display: flex;
  justify-content: center;
}
.name {
  max-width: 272px;
  min-height: 40px;
}
.link {
  /*  сбросс стилей ссылки */
  color: inherit;
  text-decoration: inherit;
  /*  сброс силей сслыки */
}
