.App {
  text-align: center;
}
.main_section {
  display: flex;
  justify-content: center;
}
/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}
/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #2f2f37;
}
*::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border: 3px solid #8585ad;
}
