.header {
	background: #1c1c21;
	max-width: 1920px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.logo {
}
.navigation_elements {
	display: flex;
}
.navigation_element {
	display: flex;
	align-items: center;
	padding: auto;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
.profile_button {
	display: flex;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	align-items: center;
}
