.BurgerConstructor {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.list_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 460px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-right: -20px;
  padding-right: 10px;
}
.list_element {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order_box {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 200px;
}
.all_price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.constructorSection {
  width: 600px;
  height: 912px;
}

.diamond {
  width: 36px;
  height: 36px;
  vertical-align: bottom;
}

.price {
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 40px;
}

.ingredients {
  padding: 0;
  width: 584px;
  height: 464px;
  overflow-y: scroll;
  list-style: none;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-track {
  background: #2f2f37;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingredient {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
